.add-product-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.add-product-form{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 400px;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

.add-product-form input, .add-product-form select{
    height: 30px;
    width: 100%;
    margin: 0.2em;
    border: none;
    border-bottom: 0.8px solid rgb(170, 170, 170);
}

.add-product-container .add-product-form .submit-button{
    height: 30px;
    width: 30%;
}

.add-product-container .add-product-form #image-input{
    border: none;
}